<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WorkingManagement.Properties.Settings.QLCVConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\QLCV.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="connectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:/Code/QLCV/QLCV.accdb;" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>